.item-link {
  display: inline-block;
  background-color: #4a148c; 
  color: #fff; 
  padding: 10px 20px; 
  text-decoration: none; 
  border-radius: 5px; 
  margin-top: 10px; 
  font-weight: bold;
}

.item-link:hover {
  background-color: #7b1fa2;
}